<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
	<% for (let i = 0; i < players.length; i++) { %>
        <tr>
          <td><%= i+1 + "º" %></td>
          <td><%= players[i].name %></td>
          <td><%= players[i].points %></td>
        </tr>
        <% }; %>
      </tbody>
    </table>
  </body>
</html>
